<div class="col-xs-12">
    <form #myForm="ngForm" (ngSubmit)="submitForm(myForm)">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand">Navbar</a>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </nav>

        <div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th *ngFor="let title of itemsTitle">{{title}}</th>
                    <td>
                        <button class="btn btn-primary" (click)="addCategory()">Add Category</button>
                    </td>
                </tr>
                </thead>
                <tbody *ngFor="let item of localItems">
                <tr>
                    <td title="Category">
                        <input [ngClass]="{'has-error': Category.invalid}" type="text" class="form-control"
                               name="cat{{item.id}}"
                               #Category="ngModel" [(ngModel)]="item.name" required>
                    </td>
                    <td colspan="5"></td>
                    <td title="Add Item / Remove Category">
                        <button class="btn btn-primary" (click)="addItemToCategory(item.id)">Add Item</button>
                        <button class="btn btn-danger" [disabled]="localItems.length <= 1" (click)="deleteCategory(item.id)">Remove Category</button>
                    </td>
                </tr>
                <tr *ngFor="let items of item['items']">
                    <td></td>
                    <td title="item">
                        <input [ngClass]="{'has-error': getItem.invalid}" class="form-control" type="text"
                               name="item{{items.id}}"
                               #getItem="ngModel"
                               [(ngModel)]="items.name" required>
                    </td>
                    <td title="GL Code">
                        <input [ngClass]="{'has-error': glCode.invalid}" class="form-control" type="text"
                               name="glCode{{items.id}}"
                               #glCode="ngModel"
                               [(ngModel)]="items.glCode" required pattern="^[0-9]+$">
                    </td>
                    <td title="Amount">
                        <input [ngClass]="{'has-error': amount.invalid}"  class="form-control" type="text"
                               name="amount{{items.id}}"
                               #amount="ngModel"
                               [(ngModel)]="items.amount" (ngModelChange)="getTotalAmount(true)" required pattern="^[0-9]+$">
                    </td>
                    <td title="Sales Tax">
                        <select class="form-control" [ngClass]="{'has-error': salesTax.invalid}"  type="text"
                                name="salesTax{{items.id}}"
                                #salesTax="ngModel"
                                [(ngModel)]="items.salesTax" (ngModelChange)="getTotalAmount(false)" required>
                            <option *ngFor="let tax of salesTaxArray" [ngValue]="tax">
                                {{tax.title}}
                            </option>
                        </select>
                        {{items.salesTax?.value | currency}}
                    </td>
                    <td title="Total">{{+items.amount + items.salesTax.value | currency}}</td>
                    <td title="Remove">
                        <button [disabled]="item['items'].length <= 1" (click)="removeItemFromCategory(item.id, items.id)" class="btn btn-danger">Remove item</button>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2"></td>
                        <td title="Total">
                            <strong>Total</strong>
                        </td>
                        <td title="Amount">{{totalAmount | currency}}</td>
                        <td title="Sales Tax">{{totalTaxes | currency}}</td>
                        <td title="Total">{{totalAmount + totalTaxes | currency}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>

    </form>
</div>
